:root {
  color-scheme: light dark;
  --green: #00b755;
  --yellow: #daaf38;
  --red: #ca4754;
  --black: #222;
  --gray: #999;
}

body {
  font-family: monospace;
  background-color: var(--black);
  display: grid;
  justify-content: center;
  padding: 32px;
  margin-top: 32px;
}

section {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 4px;
  max-width: 500px;
}

time {
  font-size: 32px;
  color: var(--yellow);
}

input {
  z-index: -9999;
  position: absolute;
  top: 0;
  left: 0;
  /* opacity: 0; */
  pointer-events: none;
}

p {
  display: flex;
  flex-wrap: wrap;
  gap: 3px 8px;
  margin: 0;
  font-size: 20px;
}

letter {
  color: var(--gray);
  position: relative;

  &.active::before {
    content: "|";
    color: var(--yellow);
    position: absolute;
    left: -65%;
    transform: scaleY(1.2);
    animation: 1s blink infinite ease-in-out;
  }
  &.active.is-last::before {
    left: 65%;
  }
  &.correct {
    color: var(--green);
  }
  &.incorrect {
    color: var(--red);
  }
}

word {
  &.marked {
    border-bottom: 2px solid var(--red);
  }
}

@keyframes blink {
  0%,
  25% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }
}
