:root {
  color-scheme: light dark;
  --green: #00b755;
  --yellow: #daaf38;
  --red: #ca4754;
  --black: #222;
  --gray: #999;
}

body {
  font-family: monospace;
  background-color: var(--black);
}

section {
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  align-items: center;
  p {
    max-width: 500px;
    display: flex;
    justify-content: center;
  }
  time {
    margin-bottom: 60px;
    font-size: 50px;
    color: var(--yellow);
    animation: timer 1s infinite;
  }
}

input {
  z-index: -9999;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

p {
  display: flex;
  flex-wrap: wrap;
  gap: 3px 8px;
  margin: 0;
  font-size: 20px;
}

letter {
  color: var(--gray);
  position: relative;

  &.active::before {
    content: "|";
    color: var(--yellow);
    position: absolute;
    left: -65%;
    transform: scaleY(1.2);
    animation: 1s blink infinite ease-in-out;
  }
  &.active.is-last::before {
    left: 65%;
  }
  &.correct {
    color: var(--green);
  }
  &.incorrect {
    color: var(--red);
  }
}

word {
  border-bottom: 2px solid transparent;
  transition: border-color 0.5s;
  &.marked {
    border-color: var(--red);
  }
}

@keyframes blink {
  0%,
  25% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }
}

@keyframes timer {
  0%,
  49% {
    color: var(--green);
  }

  50% {
    color: var(--yellow);
  }
}

#game {
  display: flex;
}

#results {
  display: none;
  color: var(--gray);
  h3 {
    font-size: 40px;
    color: var(--yellow);
  }
  button {
    padding: 4px 10px;
    background-color: var(--black);
    color: var(--green);
    border: 2px solid var(--green);
    border-radius: 5px;
  }
  button:hover {
    background-color: var(--green);
    color: var(--black);
  }
}
